<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Sklep</title>
</head>
<body>
    {% include 'components/banner.html' %}
    {% block body %}{% endblock %}
    {% include 'components/footer.html' %}
<script src="../../static/script/script.js"></script>
<script>
    let session = {{session|tojson}}
</script>
</body>
</html>