<div id="banner">
    <div id="left">
        <a href="/">Sklep</a>
        {% if login is defined %}
        <p>Zalogowany użytkownik: <i>{{ login }}</i></p>
    </div>
    <div id="right">
        <div id="cart_wrapper">
        <a href="/cart">Koszyk</a>
            <p id="cart_value">{{'%0.2f' % session["cart"]["value"]|float}} zł</p>
        </div>
        {% if login == "admin" %}
        <a href="/admin">Zarządzaj</a>
        {% endif %}
        <a href="/log_out">Wyloguj</a>
        {% endif %}
    </div>
</div>