.item-img {
    height: 100px;
    width: 100px;
    padding: 10px;
    object-fit: contain;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.top, .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.item {
    display: flex;
    border: 2px solid grey;
    flex-direction: column;
    align-items: stretch;
    margin: 10px;
    min-width: 70%;
    padding: 10px;
}

.top p {
    display: block;
    width: 100%;
    text-align: left;
}

button {
    background: none;
    font-size: 30px;
}

#sum {
    display: block;
    text-align: right;
    width: 70%;
}

.amount-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.plus-wrap, .minus-wrap {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    line-height: 30px;
    user-select: none
}

.plus-wrap p, .minus-wrap p {
    margin: 0;
}

.amount-wrap {
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount-wrap input {
    width: 45px;
    padding: 0;
    height: 30px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    outline: none;
    margin: 0 0 0 5px;
}

.plus-wrap, .minus-wrap, .amount-wrap {
    border: 1px solid grey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.disabled {
    color: #c3c3c3;
    cursor: not-allowed;
}

.delete {
    cursor: pointer;
    width: auto;
}

#cart_empty {
    /*display: none;*/
}