form {
    border: 3px solid #f1f1f1;
    margin: auto;
    max-width: 50%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.allowed:hover {
    opacity: 0.8;
}

.allowed {
    background-color: #867dff;
    cursor: pointer;
}

.not-allowed {
    background-color: grey;
    cursor: no-drop;
}

.container {
    padding: 16px;
}

h1 {
    text-align: center;
    color: #867dff;
}

a {
    text-decoration: none;
    color: dimgrey;
    text-align: center;
    width: 100%;
    display: block;
}

form + p {
    text-align: center;
    color: red;
    font-weight: bold;
}

#login_available, #login_not_available, #passwords_not_identical {
    display: none;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1rem;
}

#login_available {
    color: green;
}

#login_not_available, #passwords_not_identical {
    color: red;
}

.bad {
    border: solid 2px red !important;
}

#note {
    display: none;
}