body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: 3px solid #f1f1f1;
    margin: auto;
    max-width: 50%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #867dff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

h1 {
    text-align: center;
    color: #867dff;
}

a {
    text-decoration: none;
    color: dimgrey;
    text-align: center;
    width: 100%;
    display: block;
}

form + p {
    text-align: center;
    color: red;
    font-weight: bold;
}

#login_available, #login_not_available {
    display: none;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1rem;
}

#login_available {
    color: green;
}

#login_not_available {
    color: red;
}