body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #5d57b2;
    text-align: center;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #5d57b2;
    margin-top: auto;
    padding: 10px;
    text-align: center;
}

#banner {
    background-color: #c3beff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#banner p {
    margin: 0;
}

#right > p {
    margin-bottom: revert;
}

#right {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


#banner a {
    text-decoration: underline #5d57b2;
    text-align: left;
    color: black;
}

.item_img {
    height: 100px;
    width: 100px;
    padding: 10px;
    object-fit: contain;
}

.item {
    display: flex;
    border: 2px solid grey;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 20%;
    min-width: 200px;
}

.item a {
    color: black;
    text-decoration: none;
    margin-top: 1rem;
}

#wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 80%;
    flex-wrap: wrap;
}

#add_to_cart {
    cursor: pointer;
}

#cart_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    display: flex;
    align-items: center;
}

.input-wrapper input {
    width: 50px;
}

.input-wrapper p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#wrapper + a, form + a {
    text-align: center;
    display: block;
    margin-top: 2rem;
    font-size: 18px;
    text-decoration: underline solid #5d57b2;
    color: black;
}

#add {
    margin-bottom: 1rem;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form {
    border: 3px solid #f1f1f1;
    margin: auto;
    max-width: 50%;
}

#container {
    padding: 16px;
}

button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    background: #867dff;
}

.tooltip {
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background: #c3beff;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.tooltip.active {
    opacity: 1;
    transform: translateY(0);
}


.tooltip p {
    margin: 0;
}

.item-wrapper {
    text-align: center;
    position: relative;
}

