{% extends 'layouts/base.html' %}
{% block body %}
<link href="{{ url_for('static', filename='css/cart.css') }}" rel="stylesheet">
<body onload="count_cart()">
<div id="main">
    <h1>Koszyk</h1>
    <div id="wrapper">
        <p id="cart_empty">Koszyk jest pusty</p>
        {% for item in cart %}
        {% if item|length == 5 %}
        <div class="item {{item[0]}}">
            <div class="top">
                {% if item[3] == "" %}
                <img alt="{{ item[1] }}" class="item-img" src="{{ url_for('static', filename='placeholder.png') }}">
                {% else %}
                <img alt="{{ item[1] }}" class="item-img" src="{{ item[3] }}">
                {% endif %}
                <p>{{item[1]}}</p>
                <button class="delete {{item[0]}}" onclick="delete_item_from_cart(this)">🗑️</button>
            </div>
            <div class="bottom">
                <div class="amount-button">
                    <div class="minus-wrap {{item[0]}}" onclick="update_amount_click(this, -1)">
                        <p class="minus {{item[0]}}" onload="console.log('loaded')">-</p>
                    </div>
                    <script type="text/javascript">
                        if ({{item[4]}} === 1) {
                            document.getElementsByClassName("minus-wrap {{item[0]}}")[0].classList.add("disabled")
                        }
                    </script>
                    <div class="amount-wrap">
                        <input class="amount {{item[0]}}" data="{{item[2]}}" min="1" name="amount-input"
                               onfocusout="update_amount(this)"
                               type="number" value="{{item[4]}}" old_value="{{item[4]}}">
                    </div>
                    <div class="plus-wrap {{item[0]}}" onclick="update_amount_click(this, 1)">
                        <p class="plus {{item[0]}}">+</p>
                    </div>
                </div>
                <p class="price {{item[0]}}">{{ "%.2f zł"|format(item[2] * item[4]) }} ({{item[4]}} * {{item[2]}} zł)</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <p id="sum" data="{{sum}}">Suma: {{sum}} zł</p>
    </div>
</div>
</body>
{% endblock %}