{% extends 'layouts/base.html' %}
{% block body %}
<link href="{{ url_for('static', filename='css/cart.css') }}" rel="stylesheet">
<body onload="count_cart()">
<div id="main">
    <h1>Koszyk</h1>
    <div id="wrapper">
        <p style="display:none;" {{'class=cart_empty' if session["cart"]["quantity"] == 0}}>Koszyk jest pusty</p>
        {% for item in cart %}
        {% if item|length == 5 %}
        <div class="item {{item[0]}}">
            <div class="top">
                {% if item[3] == "" %}
                <img alt="{{ item[1] }}" class="item-img" src="{{ url_for('static', filename='placeholder.png') }}">
                {% else %}
                <img alt="{{ item[1] }}" class="item-img" src="{{ item[3] }}">
                {% endif %}
                <p>{{item[1]}}</p>
                <a href="/api/delete_from_cart/{{item[0]}}" class="delete {{item[0]}}">🗑️</a>
            </div>
            <div class="bottom">
                <div class="amount-button">
                    <div class="minus-wrap {{item[0]}}">
                        <a class="minus {{item[0]}} {{'disabled' if item[4] == 1}}" {{ "href=api/remove_amount/" ~ item[0] if item[4] > 1 }} >-</a>
                    </div>
                    <div class="amount-wrap">
                        <input class="amount {{item[0]}}" data="{{item[2]}}" min="1" name="amount-input"
                               onfocusout="update_amount(this)"
                               type="number" value="{{item[4]}}" old_value="{{item[4]}}">
                    </div>
                    <div class="plus-wrap {{item[0]}}">
                        <a class="plus {{item[0]}}" href="/api/add_amount/{{item[0]}}">+</a>
                    </div>
                </div>
                <p class="price {{item[0]}}">{{ "%.2f zł"|format(item[2] * item[4]) }} ({{item[4]}} * {{item[2]}} zł)</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <p id="sum" data="{{sum}}">Suma: {{"%.2f zł"|format(sum)}}</p>
    </div>
</div>
</body>
{% endblock %}