{% extends 'layouts/base.html' %}
{% block body %}
<body onload="count_cart()">
<div id="main">
    <h1>Przedmioty znajdujące się w asortymencie</h1>
    <div id="wrapper">
        {% if items is defined and items|length > 0 %}
        {% for item in items %}
        <div class="item">
            <p class="item_name"><b>{{ item[1] }}</b></p>
            {% if item[3] == "" %}
            <img alt="{{ item[1] }}" class="item_img" src="{{ url_for('static', filename='placeholder.png') }}">
            {% else %}
            <img alt="{{ item[1] }}" class="item_img" src="{{ item[3] }}">
            {% endif %}
            <p class="item_price">Cena: <i>{{ item[2] }} zł</i></p>
            <div class="item-wrapper {{item[0]}}">
                <p data="{{ item }}" id="add_to_cart" onclick="add_to_cart(this)">🛒 dodaj do koszyka</p>
                <div class="tooltip {{item[0]}}">
                    <p>Dodano do koszyka</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>Brak przedmiotów w sklepie</p>
        {% endif %}
    </div>
</div>
<script src="../../static/script/script.js"></script>
</body>
{% endblock %}