{% extends 'layouts/base.html' %}
{% block body %}
<body>
<div id="main">
    <h1>Dodaj nowy przedmiot</h1>
    <form action="http://localhost:5000/api/add_item" method="post">
        <div id="container">
            <label for="name">Nazwa</label>
            <input id="name" name="name" required type="text">
            <label for="price">Cena</label>
            <input id="price" min="0.01" name="price" required step="0.01" type="number">
            <label for="photo">Zdjęcie (URL)</label>
            <input id="photo" name="photo" type="text">
            <button type="submit">Dodaj przedmiot</button>
        </div>
    </form>
    <a href="http://localhost:5000/admin">Powrót</a>
</div>
</body>
{% endblock %}