{% extends 'layouts/base.html' %}
{% block body %}
<head>
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
</head>
<div id="main">
    <h1>Rejestracja</h1>
    <form action="/api/sign_up" autocomplete="off" enctype="multipart/form-data" id="signup-form"
          method="post" onsubmit="return check_form()">
        <div class="container">
            <label for="login">Login</label>
            <input id="login" name="login" oninput="is_login_available(this.value)" placeholder="Login" required
                   type="text">
            <p id="login_available"></p>
            <p id="login_not_available"></p>
            <label for="password">Hasło</label>
            <input id="password" name="password" placeholder="Hasło" required type="password">
            <label for="rpt_password">Powtórz hasło</label>
            <input id="rpt_password" name="rpt_password" placeholder="Powtórz hasło" required type="password">
            <p id="passwords_not_identical">❌ hasła nie są takie same</p>
            <a href="/login">Masz już konto? Zaloguj się</a>

            <button class="allowed" id="submit" type="submit">Zarejestruj się</button>
        </div>
    </form>
</div>
<script src="../../static/script/script.js"></script>
{% endblock %}